* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .quote{
    color:#777;
    font-weight:300;
    padding:10px;
    box-shadow:-5px 0 0 0 #ccc;
    font-style:italic;
    margin:20px 30px;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  .navbar-items-c{
    display:inline-block;
    float:right;
  }
  .navbar{
    background-color:#222;
    color:#ddd;
    min-height:50px;
    width:100%;
  }
  .navbar-container{
    max-width:950px;
    margin:0 auto;
    width:95%;
  }
  .navbar-container::after{
    content:"";
    clear:both;
    display:block;
  }
  .navbar-brand{
    vertical-align:top;
    display:inline-block;
    padding:5px;
    min-height:50px;
    min-width:50px;
    color:inherit;
    text-decoration:none;
  }
  .navbar-menu{
    padding:10px 0;
    display:block;
    float:right;
    margin:0;
  }
  .navbar-menu-link{
    margin:0;
    color:inherit;
    text-decoration:none;
    display:inline-block;
    padding:10px 15px;
  }
  .navbar-burger{
    margin:10px 0;
    width:45px;
    padding:5px 10px;
    display:none;
    float:right;
    cursor:pointer;
  }
  .navbar-burger-line{
    padding:1px;
    background-color:white;
    margin:5px 0;
  }
  #section-scene{
    padding:10px;
    font-size:2em;
  }
  #ip7wg{
    padding:10px;
  }
  #section-cameras{
    padding:10px;
    font-size:2em;
  }
  #ieqbu{
    padding:10px;
  }
  #iy2y8{
    margin:8px 0;
    position:relative;
  }
  #iquk9{
    position:absolute;
    top:4px;
    left:4px;
    color:white;
    font-size:.7em;
  }
  #camera-left{
    display:inline;
    cursor:not-allowed;
  }
  #camera-right{
    display:inline;
    cursor:not-allowed;
  }
  #scene{
    margin:4px;
    padding:0;
    position:relative;
  }
  #iwzx8{
    position:absolute;
    top:4px;
    left:4px;
    font-size:0.7em;
    color:rgba(255, 255, 255, .9);
    display:block;
    user-select:none;
  }
  #scene-canvas{
    width:49%;
    display:inline;
  }
  #ik2ug{
    width:calc(49% - 16px);
    float:right;
    box-sizing:border-box;
  }
  #ihmmm{
    flex:0 0 40%;
  }
  #i81hl{
    flex-basis:70%;
    justify-content: end;
    align-items:center;
    display:flex;
  }
  #i4g2x{
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
  }
  #ibcnb{
    position:relative;
    width:45vw;
    display:inline-block;
    float:right;
  }
  #ingug{
    position:absolute;
    top:4px;
    left:8px;
    float:right;
    font-size:.6em;
  }
  #iti6o{
    background:red;
  }
  #iiuu4{
    background:blue;
  }
  #window-differences{
    width:100%;
    height:100%;
    float:right;
    border:solid 1px black;
    justify-content:space-around;
  }
  #section-formulas{
    padding:10px;
    font-size:2em;
  }
  #i8h6y{
    padding:10px;
  }
  #i8h5h{
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
  #i0tck{
    display:flex;
    justify-content:center;
  }
  #ifrax{
    display:flex;
    justify-content:center;
  }
  #isnhy{
    margin:8px;
  }
  #ipuey{
    stroke:none;
    fill:var(--triangles, white);
  }
  #iqebq{
    stroke:none;
    fill:var(--triangles, white);
  }
  #ixh1b{
    stroke:none;
    fill:var(--triangles2, white);
  }
  #idwcg{
    stroke:none;
    fill:var(--triangles2, white);
  }
  #iuvny1{
    stroke:black;
    stroke-width:.5;
  }
  #ip89oh{
    stroke:black;
    stroke-width:.5;
  }
  #i7rase{
    stroke:blue;
    stroke-width:.5;
  }
  #iubavu{
    stroke:black;
    stroke-width:.5;
    stroke-dasharray:1;
  }
  #i9hpps{
    stroke:black;
    stroke-width:.5;
    stroke-dasharray:1;
  }
  #inayam{
    font-size:.5vmin;
    transform:rotateZ(-90deg);
  }
  #ijgwba{
    stroke:black;
    stroke-width:.5px;
    fill:none;
  }
  #ibjt6l{
    stroke:black;
    stroke-width:.5px;
    fill:none;
  }
  #i0mjdr{
    stroke:black;
    stroke-width:.5;
  }
  #i263vl{
    stroke:black;
    stroke-width:.5;
  }
  #i62c0d{
    stroke:black;
    stroke-width:.5;
    stroke-dasharray:1;
  }
  #i2fv3t{
    font-size:.5vmin;
  }
  #i5ldah{
    stroke:black;
    stroke-width:.5;
    stroke-dasharray:1;
  }
  #i3wkcj{
    font-size:.5vmin;
    transform:rotateZ(-90deg);
  }
  #ighj31{
    padding:10px;
    position:absolute;
  }
  #section-results{
    padding:10px;
    font-size:2em;
  }
  #io02vy{
    padding:10px;
  }
  #ihna6u{
    font-family:Verdana, Geneva, sans-serif;
  }
  #iasxkf{
    padding:10px 10px 10px 10px;
  }
  #capture-cameras{
    width:calc(100% - 8px);
    margin:4px;
    height:32px;
    text-transform:uppercase;
  }
  #iwhtwr{
    box-sizing:inherit;
    font-family:Verdana, sans-serif;
    font-size:15px;
  }
  #iczoqn{
    box-sizing:inherit;
  }
  #ildl0k{
    box-sizing:inherit;
  }
  #ic5rry{
    padding:10px;
  }
  #ixll22{
    padding:10px;
  }
  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
    .navbar-burger{
      display:block;
    }
    .navbar-items-c{
      display:none;
      width:100%;
    }
    .navbar-menu{
      width:100%;
    }
    .navbar-menu-link{
      display:block;
    }
  }
  #imfe7{
    width: 50vw;
  }